.chessBoard{
    width: 550px;
    height: 550px;
    border: 15px solid black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px #999;
}
.whiteBox, .blackBox{
    position: x;
    width: 12.5%;
    height: 12.5%;
    float: left;
}
.whiteBox{
    background-color: white;
}
.blackBox{
    background-color: rgb(168, 167, 167);
}

#heading{
    font-size:80px;
    text-align: center;
    margin-top: -1%;
    text-shadow: 2px 2px black,-2px -2px black,10px 10px 15px #777;
    color:rgba(255,127,80,0.9);
}
.whiteBox span , .blackBox span{
    font-size: 50px;
    padding: 10px;

}

@media screen and (min-width:850px){
    .chessBoard{
        width: 580px;
        height: 580px;
    }
    #heading{
        font-size:60px;
    }

}
@media screen and (max-width:850px){
    .chessBoard{
        width: 550px;
        height: 550px;
    }
    #heading{
        font-size:50px;
    }

}
@media screen and (max-width:650px){
    .chessBoard{
        width: 350px;
        height: 350px;
    }
    #heading{
        font-size:45px;
    }

    .whiteBox span , .blackBox span{
        font-size: 30px;
        padding: 5px;
    
    }


}
